html, body {
  height: 100%;
  margin: 0;
}

.page {
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-weight: 600;
  font-size: 30px;
}

.highlight {
  color: red;
}

.highlight_alt {
  color: blue;
}

mjx-container[jax="CHTML"][display="true"] { 
  margin: 12px !important;
}

.matrix-input-field {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 40px;
  height: 24px;
  font-size: 16px;
  outline: none;
  padding-left: 6px;
}

.matrix-input-field:focus {
  border: 1px solid #bcbcbc;
}

table {
  border-collapse: collapse;
  margin-bottom: 8px;
  margin-top: 24px;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 0;
  height: 20px;
  background-color: #f2f2f2;
}

td {
  padding: 6px;
  border: 1px solid #ddd;
}

td:hover {
  background-color: #f5f5f5;
}

select {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 60px;
  height: 24px;
  font-size: 16px;
  outline: none;
  margin: 8px;
}

button {
  margin-top: 8px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-right: 8px;
  font-size: 14px;
}

button:hover {
  background-color: #F8F8F8;
}

.description {
  margin-top: 28px;
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

.solution {
  margin-bottom: 100px;
}

.step-selector {
  margin-bottom: 100px;
}

.invalid {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 50px;
}